<!DOCTYPE html>
<html>
<head>
	<title>Item Description</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- FontAwesome CSS -->
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<!-- Bootstrap CSS -->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- Custom CSS -->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'styles.css')}}">
</head>
<body>
	<div class="container">
		<nav class="navbar navbar-default">
	        <div class="container-fluid">
	          <div class="navbar-header">
	            <a class="navbar-brand" href="#">Sports Catalog</a>
	          </div>
	          <div id="navbar" class="navbar-collapse collapse">
	            <ul class="nav navbar-nav navbar-right">
	              <li><a href="{{url_for('gdisconnect')}}"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a></li>
	            </ul>
	          </div><!--/.nav-collapse -->
	        </div><!--/.container-fluid -->
      	</nav>
	
		<div class="jumbotron">
			<h2>
				{{item.name}}
			</h2>
			<p>
				{{item.description}}
			</p>
			<p>
			<a class="btn btn-primary mb-2" href="{{url_for('editItem', item_name = item.name)}}">Edit</a>
			<a class="btn btn-danger mb-2" href="{{url_for('deleteItem', item_name = item.name)}}">Delete</a>
			</p>
		</div>
	</div>
</body>
</html>